name: Scaler demo deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy Kubernetes Pod on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          kubectl delete pod task-manager-backend --ignore-not-found
          kubectl apply -f k8s/pod.yaml
          kubectl apply -f k8s/service.yaml || true
          kubectl get pods
